* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.titulo {
  grid-area: titulo;
  justify-self: start;
  padding-left: 0.4rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: center;
  margin: 0;
}

.logo {
  width: 2rem;
  grid-area: logo;
  transition: transform 0.3s;
}
.logo:hover {
  transform: scale(1.2);
}

.header-container {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo titulo nav";
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
}

.nav-bar {
  align-items: center;
  padding: 0.625rem;
}

.nav-bar ul {
  grid-area: nav;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar ul a {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0px 4px;
}
.nav-bar ul a:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 51, 0);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.nav-bar ul a:hover:after {
  width: 100%;
}

.nav-hamb {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar ul {
    gap: 0.3125rem;
  }
}
@media (max-width: 562px) {
  .nav-hamb {
    display: block;
  }
  .nav-bar2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav-bar2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav-bar2 ul a {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: black;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0px 4px;
  }
  .nav-bar ul {
    display: none;
  }
}
.py-5 {
  background-color: #111;
  padding: 0.625rem;
  color: white;
}
.py-5 a {
  color: white;
}
.py-5 a:hover {
  color: #ff3300;
}

.section-destacados {
  text-align: center;
  margin-bottom: 2rem;
}

.section-auriculares {
  text-align: center;
  margin-bottom: 2rem;
}

.section-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.shop-container {
  display: flex;
  margin-bottom: 0.625rem;
}

.row {
  width: 100%;
}

.hero-carousel {
  max-width: 100%;
  overflow: hidden;
  height: 60vh;
}
.hero-carousel img {
  height: 50vh;
  object-fit: cover;
}

.card-jbl {
  width: 15.625rem;
  height: 28.125rem;
  margin: 0.625rem;
  background-color: white;
  justify-items: center;
  padding: 0.625rem;
  flex: 0 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-jbl img {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: white;
}
.card-jbl:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transform: scale(1.01);
}

.body-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.body-card h5 {
  font-weight: 700;
  justify-content: center;
}
.body-card p {
  align-self: flex-start;
  color: grey;
}

.precios {
  display: flex;
  gap: 0.3125rem;
}
.precios .precio-anterior {
  text-decoration: line-through;
  color: grey;
}
.precios .nuevo-precio {
  font-weight: bold;
  color: #ff3300;
}

.boton-card {
  background-color: #ff3300;
  border-radius: 1.25rem;
  border: none;
  border-color: #ff3300;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 60px 10px 60px;
  justify-self: center;
  font-weight: 700;
}
.boton-card:hover {
  color: black;
  background-color: white;
  border: 3px solid #ff3300;
  transition: all 0.3s ease-in-out;
}

.banner-container {
  width: 100%;
  height: 40vh;
}
.banner-container img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}
.banner-container:hover {
  transform: scale(1.005);
}

.card {
  width: 25rem;
  height: auto;
  margin: 0.625rem;
}

/*# sourceMappingURL=style.css.map */
