@import "./utilities/variables";
@import "./utilities/maps";
@import "./utilities/mixins";


@import "./base/reset";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
@import "./components/carousel";
@import "./components/cards";
@import "./components/boton-card";
@import "./components/banner";
@import "./components/filter";
@import "./components/boton-slider";
@import "./layout/carrito";