@mixin productos {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin tarjeta {
    width: 16rem;
    height: 28.125rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-tarjeta;
    justify-items: center;
    padding: 0.625rem;
    justify-content: space-between;
}

@mixin boton{
    background-color: $color-boton;
    border-radius: 1.25rem;
    border: none;
    border-color: $color-boton;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 60px 10px 60px;
}

@mixin secciones {
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

@mixin oferta {
    font-weight: bold;
    color: $color-boton;
}