.titulo{
    grid-area: titulo;
    justify-self: start;
    padding-left: 0.4rem;
    font-size: 1.6rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    align-self: center;
    margin: 0;
}

.logo {
    width: 2rem;
    grid-area: logo;
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.2); 
    }
}


.header-container{
    background-color: $bg-header;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "logo titulo nav";
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
}

.nav-bar{
    align-items: center;
    padding: 0.625rem;
}

.nav-bar ul {
    grid-area: nav;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    a{
        position: relative;
        font-family: 'Poppins',sans-serif;
        color: black;
        text-decoration: none;
        letter-spacing: 0.5px;
        padding: 0px 4px;
    }
    a:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 51, 0);
    height: 3px;
    width: 0;
    left:0;
    bottom: -5px;
    transition: 0.3s;
    }

    a:hover:after{
        width: 100%;
    }
}

