.card-jbl{
    @include tarjeta;
    flex: 0 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    img{
        max-width: 70%;
        height: auto;
        object-fit: cover;
        overflow: hidden;
        background-color: $color-fondo-img;
    }
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        transform: scale(1.01);
    }
}

.body-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h5{
        font-weight: 700;
        text-align: center;
        justify-content : center;
    }
    p{
        align-self: flex-start;
        color: grey;
        flex-grow: 1;
    }
}

.envio-gratis{
    color: rgb(47, 255, 57);
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0.3125rem;

}

.precios{
    display: flex;
    gap: 0.3125rem;
    .precio-anterior{
        text-decoration: line-through;
        color: grey;
    }
    .nuevo-precio{
        @include oferta;
    }
}

//#fa4617